.grid-content {
  width: 90%;
}
#customerInfoForm {
  padding-right: 40px;
}
.blog-container .grid-content {
  width: 100%;
}
.theme .profile-wrapper {
  flex-direction: column;
}
.theme .profile-sidebar {
  padding: 0;
  width: 100%;
  border: 0;
}
.theme .profile-sidebar ul {
  margin-top: 0;
}
.theme .profile-sidebar li {
  width: auto;
}
.theme .profile-sidebar h2 {
  margin-top: 0;
}
.theme .profile-sidebar li a {
  padding-right: 25px;
}
.products-per-row-4 .product-item,
.products-per-row-5 .product-item,
.products-per-row-6 .product-item {
  width: 33.3%;
}
.full-width-layout {
  padding: 0;
}
.products-per-row-1 .product-item,
.products-per-row-2 .product-item:nth-child(2n + 1),
.products-per-row-3 .product-item:nth-child(3n + 1),
.products-per-row-4 .product-item:nth-child(4n + 1),
.products-per-row-5 .product-item:nth-child(5n + 1),
.products-per-row-6 .product-item:nth-child(6n + 1) {
  clear: none;
}
.parallax-bg.fixed-parallax {
  background-attachment: scroll !important;
}
.profile-wrapper {
  padding: 50px;
}
.theme .profile-content {
  width: 100%;
  padding: 0;
}
.flip-clock-wrapper ul li {
  line-height: 60px !important;
}
.flip-clock-wrapper ul {
  height: 60px !important;
  width: 55px !important;
}
.flip-clock-divider {
  height: 60px !important;
}
.flip-clock-dot {
  font-size: 30px !important;
}
.flip-clock-wrapper ul {
  margin: 0 3px;
}
.checkout-summary .flex-row {
  flex-direction: row;
}
.checkout-summary .bump-img {
  margin-right: 20px;
}
.checkout-info {
  width: 100%;
  padding-right: 0;
}
.checkout-summary {
  width: 100%;
}
.live-theme .mobile-menu nav li .mega-menu-wrapper {
  position: relative;
  top: auto;
  float: left;
  width: 100%;
  left: auto;
  opacity: 1;
  z-index: 9;
}
.upsellWidget .main-buttons-wrapper.inline-buttons {
  flex-direction: column;
}
