.live-theme > div > .content {
  margin-top: 0;
}
.live-theme > .content {
  margin-top: 0;
}
.theme .navigation-wrapper {
  position: relative;
  height: auto;
}
.theme .navigation-wrapper nav.open {
  -webkit-animation-fill-mode: forwards;
  -webkit-overflow-scrolling: touch;
}
.theme .navigation-wrapper.smaller {
  position: relative;
  height: auto;
}
.theme nav li ul {
  box-shadow: none;
}
.theme .theme-logo {
  width: 100%;
}
.theme .theme-logo a {
  float: none;
  display: block;
  margin: 0 auto;
}
.theme nav .website-nav-link-highlighted a {
  text-align: center;
}
.theme .theme-logo a > span,
.theme .theme-logo p {
  width: 100%;
  text-align: center;
  display: block;
}
.theme nav li ul {
  min-width: none;
}
.big-featured-image .post-content-wrapper h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.big-featured-image .post-content-wrapper span {
  font-size: 15px;
}
.theme nav.open {
  -webkit-box-shadow: -2px 0 45px 0 rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -2px 0 45px 0 rgba(0, 0, 0, 0.27);
  box-shadow: -2px 0 45px 0 rgba(0, 0, 0, 0.27);
}
.theme .navigation-wrapper .theme-logo a img,
.theme .navigation-wrapper.smaller .theme-logo a img {
  max-width: 252px;
  max-height: 55px;
  float: none;
  margin: 0 auto;
  display: block;
}
.theme .theme-logo span.visible-in-fixed-header {
  display: none;
}
.theme .burger {
  display: block;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  z-index: 999999;
}
.before,
.after {
  top: 13px;
  margin: 0 0 0 -11px;
  width: 22px !important;
  background: #555 !important;
}
.middle {
  width: 22px !important;
  top: 20px;
  background: #555 !important;
}
.after {
  -webkit-transform: translate3d(0, 14px, 0);
  -moz-transform: translate3d(0, 14px, 0);
  transform: translate3d(0, 14px, 0);
}
.filter-lane {
  margin-top: 7px;
}
.scrollToTop {
  right: 25px;
}
.grid-content {
  width: 90%;
}
.grid-column {
  float: left;
  top: 0 !important;
}
.theme .content,
.theme .container,
.theme .content-wrapper,
.page-layout .navigation-wrapper .container {
  width: 100%;
  padding: 0 !important;
}
.posts-list-wrapper.listType1 .post-featured {
  max-height: 280px;
  min-height: 280px;
}
.posts-list-wrapper.listType1 .post-featured.post-featured-3 {
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important;
}
.theme .content-wrapper {
  margin-top: 0;
}
.page-layout .navigation-wrapper {
  width: 100% !important;
  max-width: 100%;
}
.page-layout {
  width: 100% !important;
  max-width: 100% !important;
}
.page-layout .navigation-wrapper .container,
.page-layout .navigation-wrapper {
  width: 100% !important;
  max-width: 100% !important;
}
.stretched-tablet .col1,
.stretched-tablet .col2,
.stretched-tablet .col3,
.stretched-tablet .col4,
.stretched-tablet .col5,
.stretched-tablet .col6,
.stretched-tablet .col7,
.stretched-tablet .col8,
.stretched-tablet .col9,
.stretched-tablet .col10,
.stretched-tablet .col11,
.stretched-tablet .col12,
.stretched-tablet .col13,
.stretched-tablet .col14,
.stretched-tablet .col15,
.stretched-tablet .col16,
.stretched-tablet .col17,
.stretched-tablet .col18,
.stretched-tablet .col19,
.stretched-tablet .col20 {
  width: 100%;
}
.posts-list-wrapper.listType4 article {
  width: 50%;
}
.top-bar .col10 {
  width: 50%;
}
.top-bar {
  height: auto;
}
.top-bar h5 {
  margin: 10px 0;
  line-height: 1.5 !important;
}
.live-theme .scrollToTop {
  bottom: 10px;
  right: 10px;
  width: 55px;
  height: 55px;
  line-height: 53px;
}
.text-widget-content img {
  height: auto !important;
}
article.col14,
.posts-list-wrapper.col14 {
  width: 100%;
}
.listType4 article {
  width: 47%;
  margin-top: 0;
  margin: 0.5%;
}
.listType2 .post-featured,
.listType5 .post-featured {
  width: 100%;
}
.listType2 .post-summary,
.listType5 .post-summary {
  width: 100%;
  margin-left: 0;
}
.listType2 article .post-title,
.listType5 article .post-title {
  margin-top: 10px;
}
aside.post-sidebar {
  width: 100%;
  margin: 0 0 30px;
}
.product-body-container h1 {
  font-size: 24px;
}
.iconSection {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}
.spacerWidget {
  max-height: 20px;
}
.page-footer .spacerWidget {
  max-height: 10px;
}
.theme .containerElement {
  width: 90%;
  margin: 0 auto;
}
.posts-list-wrapper.listType3 article,
.posts-list-wrapper.listType4 article {
  width: 100%;
}
.fluid-video-wrapper iframe {
  min-height: 0;
}
.theme .spacer:not(.mobile-only) {
  height: 35px !important;
  padding: 0 !important;
}
.posts-list-wrapper.listType0 .post-featured {
  min-height: 240px;
  height: 240px;
}
.blog-container.post-with-sidebar .inline-gallery {
  height: 250px;
}
.posts-list-wrapper .post-featured > img,
.posts-list-wrapper .post-featured > span,
.posts-list-wrapper .post-featured > div {
  min-height: 0 !important;
}
.posts-list-wrapper.listType1 .post-featured > span {
  background-size: cover;
}
.posts-list-wrapper.listType1 .post-summary {
  width: 90%;
}
.posts-list-wrapper article {
  margin-bottom: 20px;
}
.blog-container.post-no-sidebar .inline-gallery {
  height: 250px;
}
.blog-container article {
  margin-top: 30px;
}
.blog-container .post-title {
  margin-top: 15px;
}
.posts-list-wrapper.listType1 .post-featured {
  height: 250px;
  min-height: 200px;
}
.posts-list-wrapper.listType2 .post-featured,
.posts-list-wrapper.listType5 .post-featured {
  height: 220px;
  min-height: 200px;
}
.listType2 .post-summary {
  padding: 0;
}
.grid-column-no-widgets {
  min-height: 1px;
}
.theme .imageWidget {
  display: inline-block;
  margin-left: auto !important;
  margin-right: auto;
}
.listType3 article,
.listType4 article {
  width: 100%;
  margin: 10px 0;
}
.theme nav li ul {
  display: block;
  position: relative;
  float: none;
  margin: 0 auto;
  background: transparent;
  border: 0;
}
.theme nav li ul li a {
  width: auto;
  display: block;
  float: none;
  border-bottom: 0;
  background: transparent;
}
#themeOverlay .button-wrapper .viewport-buttons {
  display: none !important;
}
.theme .style-boxed-layout .navigation-wrapper-fixed.header-style-11 {
  position: relative;
}
.theme .header-style-4 nav > ul li.active > a,
.theme .header-style-4 nav > ul > li:hover > a {
  box-shadow: none !important;
}
#portfolio-popups .close {
  top: 80px;
}
#portfolio-popups .prev,
#portfolio-popups .next,
#portfolio-popups.show .close,
#tmdp-simple-lightbox .prev,
#tmdp-simple-lightbox .next,
#tmdp-simple-lightbox .close {
  width: 42px;
  height: 42px;
  margin-top: -21px;
  background: rgba(0, 0, 0, 0.3);
}
#portfolio-popups .next:before,
#portfolio-popups .prev:before,
#portfolio-popups .close:before,
#tmdp-simple-lightbox .prev:before,
#tmdp-simple-lightbox .next:before,
#tmdp-simple-lightbox .close:before {
  font-size: 21px;
  line-height: 42px;
}
#tmdp-simple-lightbox .close,
#portfolio-popups .close {
  margin-top: 0;
}
#tmdp-simple-lightbox .close:before,
#portfolio-popups .close:before {
  font-size: 16px;
}
.live-theme.with-popup .content.slide {
  -moz-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}
.portfolio-item-detail.in-popup .preview {
  width: 100%;
}
.portfolio-item-detail.in-popup .details {
  position: relative;
  width: 100%;
  padding: 20px;
}
.portfolio-item-detail.in-popup .preview > * {
  height: 250px;
}
.top-bar .col10 {
  width: 100%;
}
.top-bar .social-media {
  width: 100%;
  text-align: center;
  margin: 0;
}
.top-bar .social-media a {
  display: inline-block;
}
.top-bar h5 {
  margin: 5px 0;
  line-height: 18px;
  text-align: center;
}
.theme nav.open {
  z-index: 999;
}
.portfolio-spacing-default.portfolio-list-type-0 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-2 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-3 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-4 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-5 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-0 .portfolio-post-article,
.portfolio-spacing-default.portfolio-list-type-2 .portfolio-post-article,
.portfolio-spacing-default.portfolio-list-type-3 .portfolio-post-article,
.portfolio-spacing-default.portfolio-list-type-4 .portfolio-post-article,
.portfolio-spacing-default.portfolio-list-type-5 .portfolio-post-article,
.portfolio-spacing-default.portfolio-list-type-0 .portfolio-post-article:nth-child(4n + 2) {
  width: 49.5%;
  margin-top: 1%;
  margin-left: 0;
}
.portfolio-spacing-default.portfolio-list-type-0 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-2 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-3 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-4 .portfolio_sizer,
.portfolio-spacing-default.portfolio-list-type-5 .portfolio_sizer {
  width: 49.5%;
  margin-top: 1%;
  margin-left: 1%;
}
.portfolio-spacing-none.portfolio-list-type-0 .portfolio_sizer,
.portfolio-spacing-none.portfolio-list-type-2 .portfolio_sizer,
.portfolio-spacing-none.portfolio-list-type-3 .portfolio_sizer,
.portfolio-spacing-none.portfolio-list-type-4 .portfolio_sizer,
.portfolio-spacing-none.portfolio-list-type-5 .portfolio_sizer,
.portfolio-spacing-none.portfolio-list-type-0 .portfolio-post-article,
.portfolio-spacing-none.portfolio-list-type-2 .portfolio-post-article,
.portfolio-spacing-none.portfolio-list-type-3 .portfolio-post-article,
.portfolio-spacing-none.portfolio-list-type-4 .portfolio-post-article,
.portfolio-spacing-none.portfolio-list-type-5 .portfolio-post-article,
.portfolio-spacing-none.portfolio-list-type-0 .portfolio-post-article:nth-child(4n + 2) {
  width: 50%;
  margin-top: 0;
  margin-left: 0;
}
.blog-article header,
.listType0 .blog-post-article header {
  width: 100%;
  padding: 0;
}
.blog-article header .sharer,
.listType0 .blog-post-article header .sharer {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
  margin: 10px 0;
}
.post-header {
  width: 100%;
  display: block;
  flex: none;
}
.blog-article header,
.listType0 .blog-post-article header {
  display: block;
}
.posts-list-wrapper,
.portfolio-list-wrapper {
  margin-top: 25px;
}
header .sharer a {
  margin: 0;
  margin-right: 3px;
}
.portfolio-widget-item {
  clear: none !important;
}
.portfolio-list-wrapper .image-overlay a,
.portfolio-item-detail .details .view,
.portfolio-widget-item .buttons-wrapper-inner a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 13px;
}
.portfolio-list-wrapper .image-overlay .buttons-wrapper-inner,
.portfolio-widget-item .portfolio-widget-item-head .buttons-wrapper-inner {
  margin-top: -20px;
}
.widget.imageWidget,
.widget.sliderWidget,
.widget.videoWidget,
.widget.spacer,
.widget.map-widget,
.widget.embedWidget {
  max-height: 80vh;
}
.grid-row.stretched-tablet.mobile-only .widget.imageWidget .image-box {
  max-width: none !important;
}
.grid-column.justify-center {
  padding-top: 5%;
  padding-bottom: 5%;
}
.widget-preserving-ratio-inner {
  max-height: 100vh;
}
.theme .member-form {
  width: 90%;
  max-width: 420px;
  padding: 30px 20px;
}
.theme .profile-sidebar li a {
  padding: 15px 10px;
  border: 0;
  border-bottom: 2px solid transparent;
}
.theme .profile-sidebar {
  width: 100%;
  margin-top: 20px;
}
.theme .profile-sidebar ul {
  text-align: center;
}
.theme .profile-sidebar li {
  width: auto;
  display: inline-block;
  float: none;
}
.live-theme-message a {
  margin-top: 10px;
}
.next-step-popup {
  top: 10px;
  right: 10px;
}
.live-theme .order-item > div.order-item-wrapper > div {
  font-size: 13px;
}
.live-theme .order-summary {
  padding: 10px;
}
.order-summary > div {
  width: 100% !important;
}
.theme .profile-content {
  width: 100%;
  padding: 0;
}
.theme .theme3 .member-form-wrapper,
.theme .theme5 .member-form-wrapper,
.theme .theme6 .member-form-wrapper,
.theme .theme9 .member-form-wrapper,
.theme .theme11 .member-form-wrapper,
.theme .theme8 .member-form-wrapper,
.theme .theme12 .member-form-wrapper,
.theme .theme14 .member-form-wrapper,
.theme .theme15 .member-form-wrapper,
.theme .theme17 .member-form-wrapper,
.theme .theme22 .member-form-wrapper {
  margin: 80px auto 30px;
}
.theme .profile-content section {
  padding: 30px 20px;
}
.product-photo-container,
.product-body-container,
.product-page-style-image-left-big .product-photo-container,
.product-page-style-image-left-big .product-body-container,
.product-page-style-image-right .product-body-container,
.product-page-style-image-right .product-photo-container {
  width: 100%;
  padding: 0;
}
.text-widget-content img {
  max-width: 100%;
}
.product-body-container h2 {
  font-size: 24px;
}
.product-price span {
  font-size: 28px;
}
.cart-container img {
  max-width: 60px;
}
.checkout-summary .cart-container h4,
.checkout-summary .row-total {
  font-size: 13px;
}
.checkout-summary .cart-container h4 {
  font-size: 12px;
}
.theme #checkout-widget-content-checkout {
  padding: 10px;
}
.checkout-summary .cart-container .qty,
.checkout-summary .cart-container .row-total,
.checkout-summary .cart-container .product-info,
.checkout-summary .cart-container img {
  padding-right: 0;
}
.cart-container .qty input {
  width: 30px;
  padding: 12px 5px 12px 8px;
}
.cart-labels span {
  font-size: 11px;
}
.style-2.cart-wrapper .checkout-info,
.style-2.cart-wrapper .checkout-summary,
.style-2b.cart-wrapper .cart-left-wrapper {
  width: 100%;
}
.style-2b.cart-wrapper .cart-left-wrapper {
  padding: 25px;
}
.style-2b.cart-wrapper .cart-container {
  flex-direction: column;
}
.style-2.cart-wrapper .cart-table {
  margin-right: 0;
}
.style-2.cart-wrapper .checkout-summary,
.style-2b .cart-footer {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}
.style-2.cart-wrapper .checkout-info,
.style-2b.checkout-wrapper .cart-left-wrapper,
.style-2.cart-wrapper .checkout-info:not(.no-summary) {
  padding: 20px !important;
}
.cart-labels {
  padding: 10px 0;
}
.subtotal-wrapper {
  margin-top: 20px;
}
.payment-step-wrapper {
  padding: 0;
  background: #fff;
}
.checkout-info,
.checkout-summary {
  padding: 0;
  border: 0;
}
.checkout-summary {
  padding-top: 30px;
}
.checkout-summary .cart-container img {
  max-width: 50px;
}
.checkout-logo {
  margin-bottom: 20px;
}
.widget-layout-lined .widget-form-button-wrapper,
.widget-layout-lined .half-field {
  width: 50%;
}
.widget-layout-lined .widget-form-button-wrapper {
  width: 100%;
}
.product-list-style-1 .product-item {
  width: 50%;
}
.storeWidget .product-item {
  width: 48% !important;
  margin: 1% !important;
}
.store-checkout-breadcrumbs {
  margin-bottom: 30px;
  margin-top: 0;
}
.order-thank-you {
  padding: 0;
}
.checkout-wrapper h1 {
  font-size: 24px;
}
.checkout-wrapper h2 {
  font-size: 20px;
}
.input-row-3 input {
  width: 48% !important;
}
.ccv-wrapper {
  width: 48%;
}
.ccv-wrapper input {
  width: calc(100% - 40px) !important;
}
.ccv-pop {
  top: -40px;
}
.theme .header-is-absolute .member-form-wrapper,
.theme .header-is-absolute .grid-content-store {
  margin: 70px auto 7%;
}
.products-per-row-3 .product-item,
.products-per-row-4 .product-item,
.products-per-row-5 .product-item,
.products-per-row-6 .product-item {
  width: 48% !important;
}
.theme .navigation-wrapper .nav-wrapper header {
  height: 65px;
  z-index: 2;
  position: relative;
}
.theme .navigation-wrapper .nav-wrapper,
.theme .navigation-wrapper.smaller .nav-wrapper {
  padding: 0;
}
.live-theme .navigation-wrapper.mobile-relative {
  position: relative;
}
.live-theme .navigation-wrapper-fixed.mobile-absolute {
  position: absolute;
}
.live-theme .navigation-wrapper.mobile-fixed {
  position: fixed;
}
.theme .navigation-wrapper-slide {
  display: none;
}
.right-menu-items:before {
  display: none;
}
.right-menu-items {
  margin: 0;
}
.theme .navigation-wrapper nav li a,
.theme .navigation-wrapper.smaller nav li a,
.theme .navigation-wrapper.smaller nav li ul li a,
.theme .header-style-9 nav li ul li a {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.theme .shopping-cart li {
  padding-right: 0;
}
.mobile-signin {
  display: block;
}
.mobile-signin i {
  margin: 0;
}
.header-style-1 .right-menu-items,
.header-style-2 .right-menu-items {
  width: 100%;
}
.theme .header-style-2 nav ul {
  float: none;
}
.theme .theme-logo span.visible-in-header span,
.theme .theme-logo span.visible-in-fixed-header span {
  width: 100%;
  text-align: center;
}
.theme .mobile-relative {
  position: relative;
}
.theme .mobile-fixed,
.theme .mobile-absolute {
  position: absolute;
}
.live-theme .mobile-fixed,
.live-theme .mobile-fixed.smaller {
  position: fixed;
}
.live-theme .navigation-wrapper.smaller {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.theme .mobile-fixed.smaller header {
  height: 50px;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
.theme .smaller .theme-logo span.visible-in-fixed-header {
  display: block;
}
.theme .navigation-wrapper .theme-logo {
  float: none;
  width: auto;
}
.theme nav > ul {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0 40px;
  box-sizing: border-box;
  float: left;
}
.theme nav li {
  width: 100%;
  float: left;
}
.theme nav .website-nav-link-highlighted a {
  padding: 15px;
  margin: 0;
}
.theme .navigation-wrapper .nav-wrapper header {
  display: table-cell;
  padding: 0;
  float: none;
}
.theme .navigation-wrapper nav > ul {
  float: left;
  padding: 55px 25px;
  margin: 0;
}
.theme .header-style-7 nav.open {
  display: block;
}
.theme .header-style-2 .nav-wrapper {
  display: table;
}
.theme .header-style-2 nav .shopping-cart,
.theme .header-style-1 nav .shopping-cart,
.theme .header-style-11 nav .shopping-cart,
.theme .header-style-12 nav .shopping-cart {
  display: none;
}
.theme .header-style-3 .nav-wrapper header,
.theme .header-style-4 .nav-wrapper header {
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.theme .header-style-5 .theme-logo,
.theme .header-style-5 .theme-logo a {
  display: block;
}
.theme .header-style-6 nav {
  position: relative;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.theme .header-style-6 nav li a {
  display: inline-block;
}
.theme .header-style-6 .burger,
.theme .header-style-7 .burger {
  left: 15px;
}
.theme .header-style-5 nav > ul {
  width: 100%;
}
.theme .header-style-5 nav .active .website-nav-link {
  box-shadow: none !important;
}
.theme .header-style-7 nav.open li a {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.theme .header-style-7 nav li ul {
  left: 0;
}
.theme.visible-nav .header-style-7 nav > ul {
  margin-top: 0;
  padding: 35px 25px 55px 25px;
}
.theme .transparent-nav nav {
  background-color: #333 !important;
}
.theme .transparent-nav li a {
  color: #fff !important;
}
.theme .transparent-nav nav li ul a:hover {
  color: #fff !important;
  opacity: 0.7;
}
.theme .profile-content section .third {
  width: 100%;
  margin-bottom: 7px;
}
.side-filter .lane-list-wrapper {
  width: 100%;
}
.side-filter .products-filter {
  width: 100%;
}
.filter-lane div {
  clear: both;
  display: inline-block;
  float: none;
  padding: 0;
}
.side-filter .filter-lane {
  text-align: center;
}
.theme .header-side-style-1 header {
  margin: 0;
}
.theme .header-side-style-1 .nav-wrapper {
  display: table;
}
.theme .header-side-style-1 .shopping-cart {
  width: auto;
}
.theme .header-side-style-1 nav > ul > li {
  padding: 0;
}
.theme .header-style-8 .burger {
  left: 15px;
}
.theme .header-style-9 .theme-logo {
  position: relative;
}
.theme .header-style-header-9 header nav {
  display: none;
}
.live-theme .navigation-wrapper .shopping-cart,
.live-theme .navigation-wrapper.smaller .shopping-cart {
  position: fixed;
  bottom: 10px;
  top: auto;
  right: 10px;
  z-index: 99999;
  background: #2f323a;
  margin: 0;
}
.theme .navigation-wrapper .shopping-cart {
  display: none;
}
.live-theme .navigation-wrapper .shopping-cart {
  display: block;
}
.theme .navigation-wrapper header .shopping-cart,
.theme .top-bar .shopping-cart {
  display: none;
}
.cart-icon-wrapper {
  position: relative;
}
.theme .header-side-style-1 .shopping-cart .signin-button {
  display: none;
}
.theme .navigation-wrapper .shopping-cart a {
  padding: 10px;
  display: block;
  color: #fff !important;
  line-height: 18px;
}
.theme .navigation-wrapper .shopping-cart a {
  padding: 5px;
}
.theme .navigation-wrapper .shopping-cart li {
  padding: 15px;
  margin: 0;
  min-width: 35px;
}
.theme .navigation-wrapper .shopping-cart i {
  font-size: 20px;
}
.theme .navigation-wrapper .shopping-cart .signin-button i {
  font-size: 24px;
  margin: 0;
  margin-right: 9px;
}
.cart-3 .cart-icon-wrapper {
  margin: 0;
}
.header-style-4 .cart-items-number {
  position: relative;
  margin-left: 8px;
  left: auto;
  top: auto;
}
.theme .navigation-wrapper nav {
  width: 240px;
  height: 100%;
  z-index: 9999;
  position: fixed;
  left: -240px;
  top: 0;
  margin: 0;
  transition: left 0.5s ease;
}
.theme .navigation-wrapper nav.open,
.theme .style-boxed-layout .navigation-wrapper.header-style-8 nav.open {
  left: 0;
}
.theme .header-style-7.navigation-wrapper nav {
  left: auto;
  right: -240px;
}
.theme .header-style-8.navigation-wrapper nav {
  left: -240px;
}
.style-boxed-layout .navigation-wrapper.header-style-7 nav,
.style-boxed-layout .navigation-wrapper.header-style-8 nav {
  display: block;
}
.header-side-style-1 .top-bar,
.header-side-style-1a .top-bar {
  display: none;
}
.theme header,
.content,
.top-bar {
  position: relative;
  left: 0;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
.theme header.open,
.content.open,
.nav-open .top-bar,
.theme .header-style-8 header.open,
.header-style-header-8 .content.open,
.nav-open .header-style-header-8 .top-bar {
  left: 240px;
}
.theme .header-style-7 header.open,
.header-style-header-7 .content.open,
.nav-open .header-style-header-7 .top-bar {
  left: -240px;
}
.theme .header-style-6 .overlay {
  display: none;
}
.mobile-nav,
.mobile-login {
  display: block !important;
}
.theme .header-style-7 nav,
.theme .header-style-8 nav {
  padding: 0;
}
.theme .header-style-7 .burger {
  right: 15px;
  left: auto;
}
.theme .header-side-style-1 nav {
  display: block;
}
.theme .header-side-style-1 nav > ul {
  height: 100%;
}
.theme nav li.with-submenu > a {
  position: relative;
}
.theme nav li.with-submenu > a > .submenu-arrow {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -24px;
  padding: 10px;
  font-size: 17px;
}
.theme .mobile-menu .burger {
  box-sizing: content-box;
}
.topbar-additional-icons-only {
  display: none;
}
.theme .header-side-style-1 .shopping-cart,
.theme .header-side-style-1a .shopping-cart {
  display: none;
}
.theme .header-side-style-1 .shopping-cart-smaller,
.theme .header-side-style-1a .shopping-cart-smaller {
  display: block;
}
.theme .header-style-11 {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  left: auto;
  top: auto;
}
.column-reverse .grid-content {
  -webkit-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}
.right-menu-items {
  width: 100%;
}
.theme .header-style-11 {
  top: 0 !important;
}
.booking-datepicker,
.style-3 .booking-datepicker,
.style-2 .summary-step,
.style-2 .booking-datepicker,
.style-2 .booking-time,
.included-info .booking-time,
.style-2 .booking-info .booking-name span.book-description,
.select-wrapper.style-3.split-2 ul li,
.style-3 .booking-time,
.booking-time {
  width: 100%;
}
.booking-summary {
  box-sizing: border-box;
  padding: 0 15px;
}
.style-2 .booking-info .booking-name span.book-description {
  max-width: 100%;
}
.style-2 .summary-step .booking-summary {
  flex-direction: row;
}
.booking-summary > div {
  margin: 0;
}
.booking-summary h4 {
  font-size: 15px;
}
.operator-img {
  width: 50px;
  height: 50px;
}
.booking-name h2 {
  font-size: 21px;
}
.select-wrapper.with-image ul li a img {
  max-width: 90px;
}
.booking-datepicker .booking-info,
.booking-info,
.booking-submit-info,
.booking-datepicker .select-wrapper,
.booking-time.compact-booking-time {
  padding: 0;
}
.booking-time.compact-booking-time {
  margin-top: 15px;
}
.booking-time.compact-booking-time ul li,
.style-2 .booking-time.compact-booking-time ul li {
  width: 48%;
}
.booking-summary > div,
.style-2 .booking-summary > div {
  padding: 15px;
}
.style-2 .booking-name {
  margin-bottom: 0;
}
.booking-name .operator-img,
.book-description,
.style-2 .booking-info .booking-name span.book-description {
  display: none;
}
.availability-step,
.booking-info {
  flex-direction: column;
}
#cookie-disclaimer-box > div {
  padding-bottom: 10px;
}
#cookie-disclaimer-box > a {
  left: 0;
}
.blog-comment-form {
  padding: 30px;
}
.with-quick-view .quick-view-btn {
  display: none;
}
.products-filter-style-2 li a {
  padding: 10px 0;
  margin: 0 5px;
}
.navigation-wrapper nav li a:before {
  display: none !important;
}
.product-body-container {
  margin-top: 10px;
}
.product-body-container h2 {
  margin-bottom: 5px;
}
.product-price {
  margin-bottom: 20px;
}
.product-body-container h2 {
  font-size: 20px;
}
.product-page-style-image-left-big .product-body-container {
  min-width: auto;
}
.product-photo-list li {
  padding: 0;
}
.product-list-wrapper .product-item {
  margin: 8px 1%;
  padding: 0;
}
.products-per-row-2 .product-item {
  width: 48%;
}
.product-item-description h3,
.product-list-style-text-boxed .product-item-description h3 {
  font-size: 14px;
}
.product-item {
  margin-bottom: 10px;
}
.product-item-description .product-item-price {
  opacity: 1;
  font-size: 17px;
}
.product-photo-list {
  margin-top: 10px;
}
.checkout-wrapper h2 {
  margin-bottom: 20px;
}
.product-page-style-image-left-big .product-price,
.share-section {
  padding: 0;
}
.product-list-style-text-boxed .product-item-description {
  padding: 10px;
  margin: 0;
}
.product-list-style-text-center .product-item-description,
.product-list-style-text-left .product-item-description {
  margin-top: 8px;
}
.product-item-description h3 {
  margin-bottom: 5px;
}
.product-item:nth-child(odd) {
  clear: left !important;
}
.tab-navigation,
.tab-widget.left .tab-content {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.tab-widget.left .tab-content {
  padding: 15px;
}
.tab-widget.left {
  display: block;
}
.theme .tab-widget .tab-navigation li a {
  padding: 15px 8px;
  font-size: 13px;
}
.tab-widget.left.style-1 .tab-navigation:after {
  display: none;
}
.tab-widget.style-1.left .tab-navigation li:last-child a {
  border-right: 0;
}
.tab-widget.style-1.left .tab-navigation li.active a {
  border-bottom: 0;
}
.tab-widget.left .tab-navigation li a,
.tab-widget.left .tab-navigation li {
  float: left;
  display: inline-block;
}
.tab-widget.style-1.left .tab-navigation li.active a {
  border-right: 1px solid rgba(150, 150, 150, 0.2);
}
.tab-widget.style-2.left .tab-navigation,
.tab-widget.style-3.left .tab-navigation {
  width: 100%;
  text-align: center;
}
.tab-widget.style-2.left .tab-navigation li {
  float: none;
}
.tab-widget.style-3.left .tab-navigation li {
  float: none;
}
.tab-widget.style-3.left .tab-navigation li a,
.tab-widget.style-3.top .tab-navigation li a,
.tab-widget.style-4.left .tab-navigation li a {
  padding: 15px 8px;
}
.tab-widget.style-3.left .tab-navigation li a {
  border: 0;
  border-bottom: 2px solid transparent;
}
.tab-widget.style-3.left .tab-navigation li.active a {
  border-bottom: 2px solid #333;
}
.tab-widget.style-3.left .tab-navigation li.active a {
  border-right: 0;
}
.tab-widget.style-4.left .tab-navigation li a {
  border-right: 0;
}
.tab-widget.style-4.left .tab-content {
  margin-left: 0;
  margin-top: -1px;
}
.tab-widget.style-4.left .tab-navigation li:last-child a {
  border-right: 1px solid #e1e1e1;
}
.grid-row-fullheight {
  height: auto;
  padding: 60px 0 !important;
}
.grid-row-fullheight .grid-content {
  display: block;
}
.grid-row-fullheight .grid-column {
  float: left;
}
.filter-lane div .products-showing {
  width: 100%;
  text-align: center;
  margin-left: 0;
}
.filter-lane h1 {
  margin-bottom: 5px;
}
.mobile-view {
  display: block;
}
.mobile-store-filter,
.mobile-nav-button {
  background: #f1f1f1;
  padding: 20px 30px;
  font-size: 14px;
  box-sizing: border-box;
  margin: 5px auto 20px;
  display: inline-block;
}
.mobile-store-filter:before,
.mobile-nav-button:before {
  font-family: FontAwesome;
  content: "\f0c9";
  display: inline-block;
  margin-right: 20px;
  color: #444;
  font-size: 14px;
  float: left;
}
.side-filter .products-filter {
  position: fixed;
  top: 80px;
  left: 10%;
  bottom: 30px;
  right: 10%;
  background: #fff;
  width: 80%;
  padding: 30px;
  padding-top: 55px;
  box-sizing: border-box;
  z-index: 999;
  overflow-y: auto;
  display: none;
}
.filter-lane div .mobile-overlay {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 998;
  display: block;
  margin-left: 0;
}
.mobile-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
}
.theme .nav-wrapper .theme-logo {
  padding: 0 !important;
}
.theme .navigation-wrapper .nav-wrapper .shopping-cart-mobile {
  display: block;
}
.product-body-container .grid-row-fullwidth .textWidget,
.product-body-container .grid-row-fullwidth .buttonWidget {
  padding: 0;
}
.grid-content-store .product-body-container {
  padding: 0 5%;
  box-sizing: border-box;
}
.popup-container {
  max-width: 100% !important;
  width: 100% !important;
}
.popup-container .widget-form-inner-wrapper {
  display: block !important;
}
.popup-container .widget-layout-lined .form-field,
.popup-container .widget-form-button-wrapper {
  width: 100% !important;
  flex: none !important;
  display: block;
}
.popup-content-wrapper {
  width: 100% !important;
}
.popup-wrapper.background-right .popup-container-inner,
.popup-wrapper.background-left .popup-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.popup-wrapper.background-left .popup-content-wrapper,
.popup-wrapper.background-right .popup-content-wrapper {
  bottom: auto !important;
  top: auto !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  -webkit-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.popup-wrapper.background-left .popup-background-wrapper,
.popup-wrapper.background-right .popup-background-wrapper {
  width: 100% !important;
  height: 100px !important;
  position: relative;
  left: 0 !important;
  top: auto !important;
  bottom: auto !important;
  right: 0 !important;
  -webkit-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.popup-wrapper.background-right .popup-container-inner {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.popup-wrapper.background-left .popup-container-inner {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.widget-layout-lined .widget-form-inner-wrapper {
  display: block;
}
.widget-layout-lined .form-field {
  width: 100%;
}
.grid-row-fullwidth .grid-column {
  box-sizing: border-box;
}
.grid-row-fullwidth .grid-column .widget:not(.sliderWidget):not(.gallery) {
  padding: 0 5%;
  box-sizing: border-box;
}
.filter-lane > div {
  border: 0;
}
.theme .grid-column-no-widgets.has-bg-image {
  padding-top: 50%;
  display: block !important;
}
.grid-column.has-bg-color,
.grid-column-no-widgets.has-bg-image:not(.grid-column-no-widgets) {
  padding: 0 20px;
  box-sizing: border-box;
}
.quick-view-wrapper .product-main-photo img {
  max-height: 200px;
}
.quick-view-wrapper .product-photo-container {
  width: 100%;
}
.quick-view-wrapper .product-body-container {
  padding: 0;
  width: 100%;
}
.quick-view-inner-wrapper {
  max-height: 480px;
}
.quick-view-wrapper {
  background: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
  margin-left: 0;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
.mobile-only {
  display: block !important;
}
.subscription-wrapper .col5 {
  margin-bottom: 15px;
  width: 50%;
}
.theme .profile-content h2 {
  padding-bottom: 15px;
}
.stretched-tablet:not(.non-stretched-mobile) .grid-column,
.stretched-tablet.stretched-mobile .grid-column {
  width: 100% !important;
}
.theme .stretched-tablet:not(.non-stretched-mobile) .widgetResponsive,
.theme .stretched-tablet.stretched-mobile .widgetResponsive {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.grid-row.stretched-tablet:not(.non-stretched-mobile)
  .grid-content.grid-row-empty
  .grid-column-no-widgets:not(:first-child),
.grid-row.stretched-tablet:not(.non-stretched-mobile) .grid-content:not(.grid-row-empty) .grid-column-no-widgets,
.grid-row.stretched-tablet.stretched-mobile .grid-content.grid-row-empty .grid-column-no-widgets:not(:first-child),
.grid-row.stretched-tablet.stretched-mobile .grid-content:not(.grid-row-empty) .grid-column-no-widgets {
  display: none;
}
.stretched-tablet:not(.non-stretched-mobile) .grid-column:not(:first-child),
.stretched-tablet.stretched-mobile .grid-column:not(:first-child) {
  padding-top: 4%;
}
.live-theme .tablet-hidden {
  display: none !important;
}
.profile-wrapper {
  width: 100%;
  padding: 20px;
}
.theme .profile-sidebar {
  padding: 0;
}
.theme .profile-sidebar ul {
  margin-top: 20px;
}
.theme .profile-sidebar ul {
  text-align: left;
}
.theme .profile-sidebar li a:after {
  display: none;
}
.theme .profile-sidebar li a {
  font-size: 14px;
}
.theme .profile-content section {
  margin-bottom: 20px;
}
.tables-wrapper {
  display: block;
}
.pricing-table {
  width: 48%;
}
.tablet-view .stretched-tablet .ui-resizable-e,
.tablet-view .stretched-tablet .ui-resizable-se,
.tablet-view .stretched-tablet .widget:not(.mobile-only) .ui-resizable-handle,
.mobile-view .stretched-mobile .ui-resizable-e,
.mobile-view .stretched-mobile .ui-resizable-se,
.mobile-view .stretched-mobile .widget:not(.mobile-only) .ui-resizable-handle,
.grid-row:not(.mobile-only) .grid-column > .ui-resizable-handle,
.grid-row:not(.mobile-only) .widget:not(.mobile-only) > .ui-resizable-handle {
  display: none !important;
}
.grid-column.has-bg-color,
.grid-column-no-widgets.has-bg-image:not(.grid-column-no-widgets) {
  padding: 0 20px;
}
#customerInfoForm,
.checkout-summary {
  width: 100%;
}
.checkout-summary {
  box-shadow: none;
}
.store-checkout-breadcrumbs span {
  padding: 13px 15px;
}
#customerInfoForm {
  padding-right: 5px;
}
.login-question {
  margin-bottom: 15px;
}
.flip-clock-wrapper ul li a div div.inn {
  font-size: 42px !important;
}
.flip-clock-wrapper ul li {
  line-height: 46px !important;
}
.flip-clock-wrapper ul {
  height: 46px !important;
  width: 35px !important;
}
.flip-clock-divider {
  height: 46px !important;
}
.flip-clock-dot {
  font-size: 19px !important;
}
.flip-clock-wrapper ul {
  margin: 0 2px;
}
.flip-clock-wrapper ul li a div div.inn {
  border-radius: 2px;
}
.theme .navigation-wrapper {
  z-index: 9;
}
.mobile-header-wrapper,
.header-widget-container,
.flex-header {
  display: block;
}
.header-widget-container {
  min-height: 0;
}
.theme .header-wrapper .theme-logo a img {
  float: none;
}
.burger li {
  list-style: none;
}
.theme .header-wrapper .burger {
  padding: 10px;
}
.header-wrapper .before,
.header-wrapper .after {
  top: 13px;
}
.header-widget,
.header-row-top,
.header-row-bottom,
.header-row-space {
  display: none;
}
.header-widget[data-type="headers/Logo"] {
  display: block;
  margin-bottom: 0;
}
.header-widget[data-type="headers/Logo"] img {
  max-width: 260px;
}
.menu-widget nav > ul {
  overflow: hidden;
}
.header-row {
  padding: 0 30px;
  box-sizing: border-box;
}
.header-widget {
  margin-bottom: 10px;
  z-index: 2;
}
.mobile-header-overlay {
  display: none;
  z-index: -1;
}
.page-layout.open .mobile-header-overlay {
  display: block;
  z-index: 130;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-widget-container {
  width: 100%;
}
.mobile-header-wrapper .widget,
.header-widget {
  width: 100%;
}
.mobile-header-wrapper .header-widget {
  display: flex;
  margin: 0 auto 15px auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.theme .mobile-popup nav > ul {
  height: auto;
}
.vertical-menu-styling.design-1.mobile-popup nav > ul > li,
.vertical-menu-styling.design-1.mobile-popup li:last-child {
  border: 0;
}
.theme .mobile-popup nav li > div > ul,
.theme .mobile-column nav li > div > ul {
  position: relative;
  width: 100%;
  top: auto;
  box-shadow: none;
  border-top: 0;
  border: none !important;
}
.theme .mobile-popup nav li:hover > div > ul,
.theme .mobile-column nav li:hover > div > ul {
  display: block;
}
.mobile-column nav > ul > li,
.mobile-column nav > ul > li > div > ul > li {
  align-items: stretch;
}
.theme .mobile-column nav > ul {
  padding: 0;
}
.theme .mobile-popup nav > ul {
  padding: 0 20px;
  margin-top: 20px;
}
.theme .mobile-popup .mobile-nav-button {
  display: block;
}
.theme .mobile-popup nav li:hover > div > ul {
  height: auto;
  top: 0 !important;
  border: none !important;
}
.mobile-popup nav > ul > li,
.theme .mobile-column nav > ul > li {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.mobile-popup nav li > div {
  width: 100%;
}
.theme .mobile-popup nav li > div > ul {
  min-width: 0;
}
.theme .mobile-popup nav li > div > ul li a {
  padding: 14px 15px;
}
.open .mobile-header-wrapper {
  left: 0;
}
.mobile-header-wrapper {
  padding: 30px 20px;
  z-index: 131;
  box-sizing: border-box;
}
.header-wrapper,
.page-layout > .content,
.mobile-menu {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
  left: 0;
}
.open .header-wrapper,
.open > .content,
.open .mobile-menu {
  left: 240px !important;
}
.page-layout.fixed-header-layout-floating.open .fixed-header-wrapper {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.subtotal-outer-wrapper {
  padding: 20px;
}
#continueBtn,
.checkout-buttons .checkout-btn {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.checkout-buttons .back-to-shopping {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.apply-code-input {
  width: 120px;
}
.background-transparent {
  background: #2f323a;
}
.background-transparent .vertical-menu-styling.center li a,
.background-transparent .signin-button span,
.background-transparent .cart-button span {
  color: #fff !important;
}
.navigation-wrapper .background-transparent nav svg,
.background-transparent .store-cart-button svg,
.background-transparent .signin-button svg {
  fill: #fff !important;
}
.vertical-header-row.bottom-row {
  display: none;
}
.page-layout.header-layout-vertical-left .main-header-wrapper {
  width: 100%;
  position: relative;
  height: auto;
  z-index: 131;
  left: 0;
}
.mobile-header-wrapper.background-transparent .vertical-menu-styling li a {
  color: #fff !important;
}
.mobile-header-wrapper.background-transparent .vertical-menu-styling {
  background: transparent !important;
}
.cart-row {
  padding: 14px 0;
}
.header-wrapper .header-row-main {
  padding: 10px 0;
  z-index: 131;
}
.header-wrapper {
  z-index: 131;
}
.live-theme-message {
  left: 50px;
  right: 50px;
  top: 10px;
  font-size: 13px;
  -moz-transform: translate(0, -110%);
  -webkit-transform: translate(0, -110%);
  transform: translate(0, -110%);
  box-sizing: border-box;
}
.live-theme-message.show-message {
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main-header-wrapper {
  display: none;
}
.mobile-menu {
  position: relative;
  float: left;
  width: 100%;
  display: block;
  padding: 10px 0;
  z-index: 131;
}
.header-hidden + .mobile-header-overlay + .mobile-menu {
  display: none !important;
}
.mobile-menu.is-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.mobile-menu-logo {
  float: left;
  width: 100%;
}
.theme .mobile-menu .theme-logo a img {
  float: none;
}
.mobile-menu .vertical-menu-styling.center li > a {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mobile-menu .vertical-menu-styling.center li.with-submenu > a {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.theme .mobile-menu .vertical-menu-styling nav li.with-submenu a .submenu-arrow {
  right: -5px;
  padding: 5px;
  margin-top: -18px;
}
.theme .navigation-wrapper .mobile-column nav li > div > ul {
  background: transparent !important;
}
.menu-widget {
  width: 100%;
}
.widget-layout-lined .form-field {
  margin-bottom: 15px;
}
.widget-layout-lined .widget-form-button-wrapper > a {
  width: 100% !important;
}
.header-widget,
.theme nav li > div > ul li a {
  white-space: normal;
}
.theme .mobile-menu-logo .theme-logo {
  min-height: 40px;
  text-align: center;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.theme .style-boxed-layout .fixed-header-wrapper,
.theme .style-boxed-layout .fixed-header-wrapper.visible {
  max-width: 100%;
  left: 0;
}
.shopping-cart-mobile {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #fff;
  -webkit-box-shadow: 0 8px 23px 3px rgba(50, 50, 50, 0.12);
  -moz-box-shadow: 0 8px 23px 3px rgba(50, 50, 50, 0.12);
  box-shadow: 0 8px 23px 3px rgba(50, 50, 50, 0.12);
  border-radius: 5px;
}
.shopping-cart-mobile li a {
  padding: 20px;
  float: left;
}
.shopping-cart-mobile .cart-items-number {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.stretched-tablet .grid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flip-medium .flip-clock-wrapper ul {
  margin: 0 1px;
}
.widget:not(.mobile-only) .text-widget-content h1 span,
.widget:not(.mobile-only) .text-widget-content h2 span,
.widget:not(.mobile-only) .text-widget-content h3 span,
.widget:not(.mobile-only) .text-widget-content h4 span,
.widget:not(.mobile-only) .text-widget-content h5 span,
.widget:not(.mobile-only) .text-widget-content h6 span,
.widget:not(.mobile-only) .text-widget-content blockquote span,
.widget:not(.mobile-only) .note-editable.panel-body h1 span,
.widget:not(.mobile-only) .note-editable.panel-body h2 span,
.widget:not(.mobile-only) .note-editable.panel-body h3 span,
.widget:not(.mobile-only) .note-editable.panel-body h4 span,
.widget:not(.mobile-only) .note-editable.panel-body h5 span,
.widget:not(.mobile-only) .note-editable.panel-body h6 span,
.widget:not(.mobile-only) .note-editable.panel-body blockquote span {
  font-size: inherit !important;
}
.mobile-menu .search-form input {
  min-width: 100% !important;
}
.menuWidget .horizontal-menu-styling {
  display: none;
}
.mobile-full-height {
  height: 100vh;
  padding: 0 !important;
}
.mobile-full-height .grid-content {
  justify-content: center;
}
.checkout-wrapper .cart-table {
  padding: 12px;
}
.cart-container .description {
  width: 46%;
}
.payment-step-wrapper .checkout-summary {
  padding: 20px !important;
}
.checkouts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cart-wrapper .cart-container h4 {
  font-size: 14px;
}
.cart-wrapper .cart-row .image {
  margin-right: 0;
}
.live-theme .back-to-editing {
  display: block;
}
.widget-row.with-centered-content {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}
.widget-row.with-centered-content .widget {
  margin-bottom: 10px;
}
.bump-img {
  max-width: 100px;
}
.bt-paymentcards {
  display: none;
}
.menuWidget .overlay {
  display: block;
  overflow-y: auto;
  padding: 40px 30px;
  box-sizing: border-box;
}
.burger-menu-styling .overlay nav {
  display: block !important;
  height: auto;
}
.tmdp-simple-lightbox-detail .preview img {
  height: auto;
}
.mobile-only.center {
  text-align: center;
}
.theme .menuWidget .mobile-only .burger {
  float: none;
  display: inline-block;
}
.theme .profile-wrapper {
  padding: 25px;
}
.checkout-info.no-summary {
  padding: 0;
}
.right-summary .booking-info,
.style-3.right-summary .booking-step {
  width: 100%;
}
.right-summary .booking-info {
  margin: 0;
}
.style-3 .booking-step .select-wrapper {
  padding: 0;
}
.mobile-header-wrapper.background-transparent .vertical-menu-styling li .mega-menu-wrapper a {
  color: inherit !important;
}
.service-img {
  width: 70px;
  height: 70px;
}
.divider-box > svg {
  vertical-align: inherit;
}
.divider-box.divider-box-invert > svg {
  vertical-align: top;
}
.booking-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.popup-container.cookies-popup {
  box-sizing: border-box;
  padding: 30px;
}
.booking-summary > div {
  margin: 0 5px;
}
.booking-step .widget-form {
  margin: 0 auto;
}
.booking-final-step .booking-summary > div {
  width: 50%;
}
.booking-step .booking-name h2.confirmation-title {
  font-size: 24px;
}
.style-3 .booking-name {
  margin: 10px auto;
}
.booking-wrapper .form-progress-wrapper {
  margin: 20px 0;
}
.column-3 ul li {
  width: 50%;
}
.booking-info {
  padding: 15px 0;
}
.style-3.full-width .booking-info {
  padding-bottom: 15px;
}
.style-3.full-width .booking-step {
  margin-top: 0;
}
.style-3.full-width.inline-calendar .booking-info,
.style-3.full-width.inline-calendar .booking-step,
.style-3 .booking-step {
  width: 100%;
}
.style-3.full-width.inline-calendar .booking-step {
  margin: 0;
}
.booking-wrapper.style-3.full-width.inline-calendar,
.booking-wrapper.style-3 {
  flex-direction: column;
}
.booking-wrapper.right-summary {
  flex-direction: column-reverse;
}
.form-progress-wrapper {
  display: none;
}
.booking-datepicker {
  padding: 0;
}
.theme .back-to-calendar {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 17px 0;
  margin-bottom: 10px;
  float: left;
  display: none;
}
.date-selected .booking-datepicker,
.booking-time {
  display: none;
}
.theme .date-selected .booking-time,
.theme .date-selected .back-to-calendar {
  display: block;
}
.book-description {
  padding: 0 20px;
}
.grid-column-no-widgets.has-bg-image {
  min-height: 180px;
}
.with-product-filter .content-wrapper {
  z-index: 9999;
}
.burger-menu-styling nav li.with-submenu:hover > div {
  width: 100%;
}
.quiz-select-wrapper.split-3 ul li,
.quiz-select-wrapper.split-4 ul li,
.quiz-select-wrapper.split-5 ul li {
  width: 48.5%;
  margin-right: 3%;
}
.quizWidget .widget-form {
  padding: 20px !important;
}
.quiz-select-wrapper.split-3 ul li:nth-child(2n + 1),
.quiz-select-wrapper.split-4 ul li:nth-child(2n + 1),
.quiz-select-wrapper.split-5 ul li:nth-child(2n + 1) {
  clear: right;
  float: left;
  margin-right: 3%;
}
.quiz-select-wrapper.split-3 ul li:nth-child(2n),
.quiz-select-wrapper.split-4 ul li:nth-child(2n),
.quiz-select-wrapper.split-5 ul li:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.quizWidget .form-progress-wrapper {
  display: block;
  margin-bottom: 30px;
}
.step-subheading {
  margin-bottom: 25px;
}
.quiz-buttons-wrapper {
  margin-top: 10px;
}
.profile-content section div.flex-row {
  flex-direction: column;
}
#deleteMember {
  margin-left: 0 !important;
  margin-top: 10px;
}
.stretched-mobile .grid-column:not(:first-child) {
  padding-top: 0;
}
.stretched-mobile .grid-column-no-widgets {
  padding-top: 25px !important;
}
.theme .stretched-mobile .textWidget {
  padding: 0 20px;
  box-sizing: border-box;
}
.audio-info {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.toggle-widget.style-4 .toggle-widget-content {
  padding: 25px;
}
.reversed-checkout-summary {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
